// Colors
$background-color-base: #fbfcfd;
$font-color-base: #5e7283;
$success-color-base: #16a085;
$color-white-base: #fff;

// Font settings
$font-size-base: 10px;
$font-family-base: 'Montserrat', sans-serif;
$font-family-script: 'Architects Daughter', cursive;

//Media
$ipad-breakpoint: 768px;
