:root,
html{
  font-size: $font-size-base ;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color: $font-color-base;
  line-height: $line-height-base;
}
body {
  font-size: 1.4rem;
  text-rendering: optimizeSpeed;
  background-color: $white-color-base;
}
