// Base Colors
$font-color-base: #4a4e50;
$white-color-base: #fff;
$black-color-base: #000;

// Alternate Colors
$default-color-base: $white-color-base;
$success-color-base: #4cac86;
$warning-color-base: #ff6c00;
$danger-color-base: #e74c3c;
$primary-color-base: #427fed;
$info-color-base: #55acee;

// Font settings
$font-size-base: 10px;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-family-base: 'Open Sans', sans-serif;
$line-height-base: 24px;
